<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>253506497651-ia0f0nujhq5np26lkuqltev9b0k4hdn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253506497651-ia0f0nujhq5np26lkuqltev9b0k4hdn4</string>
	<key>API_KEY</key>
	<string>AIzaSyDgwU4EssSttzMPZwBW9MWm2lFGbCL8WTg</string>
	<key>GCM_SENDER_ID</key>
	<string>253506497651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkjam2019.salad</string>
	<key>PROJECT_ID</key>
	<string>tkjam2019</string>
	<key>STORAGE_BUCKET</key>
	<string>tkjam2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253506497651:ios:4f4938e7c2a9db7b</string>
	<key>DATABASE_URL</key>
	<string>https://tkjam2019.firebaseio.com</string>
</dict>
</plist>